# Ignore everything in order to include only the desired file extensions.
*

# Include self.
!.gitignore

# Inlcude the .cpp files.
!*.cpp

# Include the .tex files.
!*.tex

# Include shell script files.
!*.sh
